@import "tailwindcss";

body {
  background-image: linear-gradient(
    155deg,
    hsl(228deg 100% 18%) 0%,
    hsl(229deg 100% 16%) 0%,
    hsl(228deg 100% 15%) 0%,
    hsl(229deg 100% 14%) 0%,
    hsl(228deg 100% 12%) 0%,
    hsl(229deg 100% 11%) 1%,
    hsl(228deg 100% 9%) 2%,
    hsl(229deg 100% 7%) 3%,
    hsl(228deg 100% 6%) 5%,
    hsl(230deg 100% 5%) 7%,
    hsl(228deg 100% 3%) 11%,
    hsl(233deg 100% 2%) 19%,
    hsl(0deg 0% 0%) 75%,
    hsl(0deg 0% 0%) 86%,
    hsl(0deg 0% 0%) 90%,
    hsl(0deg 0% 0%) 94%,
    hsl(0deg 0% 0%) 96%,
    hsl(0deg 0% 0%) 97%,
    hsl(0deg 0% 0%) 98%,
    hsl(0deg 0% 0%) 99%,
    hsl(0deg 0% 0%) 100%,
    hsl(0deg 0% 0%) 100%,
    hsl(0deg 0% 0%) 100%,
    hsl(0deg 0% 0%) 100%,
    hsl(0deg 0% 0%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: max-content;
}

textarea[name="contact"] {
  resize: none;
}
